<div id='container'>
<!-- Your code here -->
  <div class="creator">
    <form name="linkForm">
      <input validate-url placeholder="Enter URL to be shortened." class="shortener" ng-class="{'error':!linkForm.input.$valid && linkForm.$dirty}" ng-model="link.url" ng-required="true" name="input" type="url">
      <button ng-disabled="!linkForm.input.$valid" ng-click="addLink()">Add</button>
    </form>
    <div class="message">{{message}}</div>
    <div ng-show="!linkForm.input.$valid && linkForm.$dirty" class="message">Please enter valid url.</div>
    <img ng-show="waiting" class="spinner" src="assets/spiffygif_46x46.gif">
  </div>
</div>


