<div id='container'>
<!-- Your code here -->
  <div class="creator">
    <form name="linkForm">
      <input ng-class="{'error':!linkForm.input.$valid && linkForm.$dirty}" ng-model="link.url" ng-required="true" name="input" type="url" ng-change="pristineIfEmpty()" ng-pattern="/^(?!mailto:)(?:(?:https?|ftp):\/\/)?(?:\S+(?::\S*)?@)?(?:(?:(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[0-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]+-?)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]+-?)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))|localhost)(?::\d{2,5})?(?:\/[^\s]*)?$/i"/>
      <button ng-disabled="!linkForm.input.$valid" ng-click="addLink()">Add</button>
    </form>
    <div class="message">{{message}}</div>
    <div ng-show="!linkForm.input.$valid && linkForm.$dirty" class="message">Please enter valid url.</div>
    <img ng-show="waiting" class="spinner" src="assets/spiffygif_46x46.gif">
  </div>
</div>


